In [1]:
#while loop

In [2]:
a=1
while a<5:
    print(a)
    a=a+1

1
2
3
4

In [3]:
#for loop

In [4]:
range(5)

range(0, 5)

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(5,10): #start wit 5,end with 10
    print(i)

5
6
7
8
9

In [12]:
for i in range(5,10,3): #star 10,end wit 10,interval with 3
    print(i)

5
8

In [15]:
a=[2,4,6,8]  list of even number
type(a)

list

In [20]:
l=[]
for i in range(1,10):
    if i%2==1:
        l.append(i)
print(l)

[1, 3, 5, 7, 9]

In [21]:
a="sachin123"

In [25]:
a="sachin123"

In [ ]:
#a = "sachin123tendulkar007"
#out1 = "sachintendulkar"
#out2 = "123007"

In [28]:
a = "sachin123"

alphabets = ""
digits = ""

for char in a:
    if char.isalpha():
        alphabets += char
    elif char.isdigit():
        digits += char

print("Alphabets:", alphabets)
print("Digits:", digits)

Alphabets: sachin
Digits: 123

In [29]:
for i in a:
    print(i)

s
a
c
h
i
n
1
2
3

In [ ]:
#a = "sachin123tendulkar007"
#out1 = "sachintendulkar"
#out2 = "123007"

In [37]:

a = "sachin123"
out1=""
out2=""
for i in a:
    if i.isalpha():
        out1 +=i
    elif i.isdigit():
        out2 +=i

Alphabets: sachin
Digits: 123

In [ ]:
xxxxxxxxxx
#a = ["arun", "sachintendulkar", "viratkholi", "dhoni"]
#name lenght > 8
#it should end with I
#out = ["viratkholi"]

In [43]:
        
a = ["arun", "sachintendulkar", "viratkholi", "dhoni"]
result = []

for name in a:
    if len(name) > 8 and name.endswith("i"):
        result.append(name)

print("Output:", result)

Output: ['viratkholi']

In [44]:
#Sum of Numbers:
#Write a program to calculate the sum of all numbers from 1 to 10 using a for loop.

In [47]:
sum=0
for i in range(1,10):
    sum=sum+i
print(sum)

45

In [48]:
#Print Even Numbers:
#Write a program to print all even numbers from 1 to 20 using a for loop.

In [57]:

for i in range(1,10):
    if i%2 == 0:
        print(i)

2
4
6
8

In [58]:
#Factorial Calculation:
#Write a program to calculate the factorial of a given number using a for loop.

In [68]:
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

120

In [69]:
#Multiplication Table:
#Write a program to print the multiplication table of a given number using a for loop.

In [71]:
table=2
for tableOf2 in range(2,20,2):
    print(tableOf2)

2
4
6
8
10
12
14
16
18

In [73]:
#print a String:
#Write a program to reverse a given string using a for loop.

In [84]:
reverse_string=""
orignal_string="I am good"
for i in orignal_string:
    print(i)

I

a
m

g
o
o
d

In [ ]:
#print a String:
#Write a program to reverse a given string using a for loop.

In [85]:
reverse_string=""
orignal_string="I am good"
for i in orignal_string:
    reverse_string = i + reverse_string
print(reverse_string)

doog ma I

In [86]:
#Count Vowels:
#Write a program to count the number of vowels in a given string using a for loop.

In [89]:

a=input("enetr a string")
vowel_count=0

for i in a:
    if i.lower() in 'aeiou':
        vowel_count +=1
print(vowel_count)

enetr a stringankit
2

In [90]:
#Print Patterns:
#Write a program to print the following pattern using nested for loops

In [102]:
for i in range(1,5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****